*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFFAEB;
}

body.modalOpen{
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.headerMain{
    position: relative;
    width: 100%;
    height: 50vh;
    background-image: url(../images/suite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
    color: white;
}

.navInterno{
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.boxMenu,
.boxReserva{
    width: 180px;
    display: flex;
    justify-content: center;
}

.picLogo{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.logo{
    width: 150px;
    margin: 3%;
}

.mudancaCor{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    transition: .3s;
}

.mudancaCor img{
    width: 70px;
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    transition: .3s;
}

.btnMenu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btnMenu span{
    width: 28px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.btnReserva{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btnReserva:hover{
    background: white;
    color: black;
}

.contMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    transform: translateY(-100%);
    background: rgba(255, 251, 234, .70);
    color: #726231;
    font-size: 2.5rem;
    transition: transform .3s ease-in-out;
    z-index: 999;
}

.contMenu.active{
    transform: translateY(0);
}

.contMenuBtns{
    position: absolute;
    top: 20px;
    right: 20px;
}

.contMenuBtns button{
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btnMenuClose:hover{
    color: #ce2c03;
}

.btnRedes:hover{
    color: #143525;
}

.contMenu ul{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.contMenu a{
    display: inline-block;
    font-size: 2rem;
    color: #143525;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

.contMenu a:hover{
    color: #CFA836;
    text-decoration: underline;
    transform: translateX(50px);
}

.titulo{
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    color: #143525;
}

.titulo p{
    color: #726231;
}

.boxNav{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 1%;
}

.navegacao{
    width: 40%;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.navegacao h2{
    color: #CFA836;
    font-size: 20px;
}

.btnPesquisa{
    margin: 1%;
    border: 1px solid #143525;
    border-radius: 5px;
    color: #143525;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: transparent;
}

.btnPesquisa span{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #143525;
    color: white;
}

.btnPesquisa:hover{
    border: 1px solid #CFA836;
    color: #CFA836;
}

.btnPesquisa.active{
    border: 2px solid #CFA836;
    color: #CFA836;
}

.quartos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
}

.boxQuarto{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.boxQuarto img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.boxQuarto h3{
    margin-top: 10px;
}

.boxQuarto p{
    padding: 10px;
    text-align: center;
}

.btnInfo{
    margin: 10px;
    padding: 10px 20px;
    background: #143525;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btnInfo:hover{
    background: #CFA836;
}

.modalQuarto{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    z-index: 700;
}

.modalQuarto.active{
    display: flex;
}

.modalCont{
    background: #CFA836;
    width: 40%;
    height: 60vh;
    border-radius: 20px;
}

.casal, .familia{
    display: flex;
}

.familia.off, .casal.off{
    display: none;
}