*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    background:#FFFAEB;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    display:none;
}

.headerMain{
    position:relative;
    height:100vh;
}

.heroVideo{
    position:absolute;
    width:100%;
    height:100%;
}

.heroVideo video{
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:relative;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
    color:white;
}

.navInterno{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 40px;
}

.boxMenu, .boxReserva{
    width:180px;
    display:flex;
    justify-content:center;
}

.picLogo{
    display:flex;
    justify-content:center;
}

.logo{
    width:180px;
}

.btnMenu{
    display:flex;
    flex-direction:column;
    gap:5px;
    background:transparent;
    border:none;
    cursor:pointer;
}

.btnMenu span{
    width:28px;
    height:3px;
    background:white;
    border-radius:5px;
}

.btnReserva{
    padding:10px 20px;
    background:transparent;
    border:1px solid white;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:.3s;
    display:flex;
    align-items:center;
    gap:5px;
}

.btnReserva:hover{
    background:white;
    color:black;
}

.contMenu{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    transform: translateY(-100%);
    min-height: 100vh;
    background:rgba(255, 251, 234, .70);
    padding:20px;
    color: #726231;
    font-size: 2.5rem;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.contMenu.active{
    transform: translateY(0);
}

.contMenuBtns{
    position:absolute;
    top:20px;
    right:20px;
}

.contMenuBtns button{
    background:transparent;
    border:none;
    font-size:2rem;
    cursor:pointer;
}

.btnMenuClose:hover{
    color:#ce2c03;
}

.btnRedes:hover{
    color:#143525;
}

.contMenu ul{
    min-height: 80vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:20px;
    list-style:none;
}

.contMenu a{
    display: inline-block;
    font-size: 2rem;
    color:#143525;
    text-decoration:none;
    transition: transform .3s ease-in-out;
}

.contMenu a:hover{
    text-decoration:underline;
    color: #CFA836;
    transform: translateX(50px);
}

.voltarTopo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.voltarTopo a{
    color: white;
}

.heroTexto{
    height:75%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:15px;
}

.heroTexto h1{
    font-size:4rem;
}

.heroTexto h1 span{
    color:#ffb400;
}

.heroTexto p{
    font-size:1.2rem;
}

.btnRoll{
    padding:10px 20px;
    cursor:pointer;
    background:transparent;
    border:1px solid white;
    color:white;
    border-radius:5px;
    display: flex;
    justify-content: center;
    width: 20%;
}

.btnRoll a{
    color:white;
    cursor:pointer;
    text-decoration:none;
    transition: 1s;
}

.btnRoll a:hover{
    color:#ffb400;
}

section{
    width:100%;
}

.sobre{
    background: #314622;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    color: white;
    position: relative;
}

.picSobre{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.picSobre img{
    width: 20%;
    height: 50%;
    border-radius: 10px;
}

.pic1{
    top: 10%;
    left: 4%;
}

.pic1 img{
    transform: rotate(15deg);
}

.pic2{
    top: 40%;
    left: 75%;
}

.pic2 img{
    transform: rotate(-10deg);
}

.contSobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    font-size: 1.2rem;
    gap: 30px;
    text-align: center;
    color: #fcfcfc;
    z-index: 1;
}

.subtitulo{
    font-size: 0.9rem;
}

.contSobre div{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: white;
}

.linkSobre{
    z-index: 1;
}

.linkSobre a{
    color:#ffb400;
    cursor:pointer;
    text-decoration:none;
    border-bottom: 1px solid;
    transition: 1s;
}

.linkSobre a:hover{
    color:#fff;
}

.containerInfos{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    min-height: 100vh;
}

.boxContInfo{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: auto;
}

.boxContInfo ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
}

.boxContInfo ul li{
    list-style: none;
}

.boxContInfo p{
    font-size: 1rem;
}

.containerInfos picture{
    width: 45%;
    height:70%;
}

.containerInfos picture img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.linkInfo a{
    text-decoration: none;
    color: #726231;
    transition: .7s ease-in-out;
}

.linkInfo a:hover{
    text-decoration: underline;
    color: #000;
}

footer{
    background:#314622;
    color:white;
    text-align:center;
    padding:20px;   
}

.hidden{
    display:none;
}